body {
    padding-top: 40px;
    padding-bottom: 40px;
	font-family: "Helvetica Neue",Helvetica,sans-serif,"微軟正黑體";
}
body.font {
	padding-top: 120px;
}

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
    /* margin-bottom: 60px; */
	height: 470px;
	margin-bottom: 0;
	/* -39 + 120 */
	margin-top: -120px;
	text-align: center;
}
.carousel .container {
    position: relative;
    z-index: 9;
}
.carousel-control {
    margin-top: 80px;
    font-size: 120px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
}
.carousel .item {
    height: 470px;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
}
.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-top: 100px;
}
.carousel-caption h1,
.carousel-caption .lead {
    margin: 0;
    line-height: 1.25;
	font-weight: bold;
}

.carousel-caption .black {
    color: #000;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

.carousel-caption .white {
    color: #fff;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 1), 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.carousel-caption .btn {
    margin-top: 10px;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.main-nav {
	background-color: #242535;
	background-image: none;
	border-color: #242535;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#242535',endColorstr='#242535',GradientType=0);
	overflow: hidden;
}

.main-nav .nav > li:first-child > a {
	margin-left: 0;
}

.navbar {
	margin-bottom: 0;
}

.navbar .navbar-header {
	position: relative;
}

a.small-brand.navbar-brand {
	color: #41B8EA;
	position: absolute;
	left: 0;
}

a.small-brand.navbar-brand label {
	font-weight: normal;
	font-size: 30px;
	vertical-align: middle;
	margin: 0;
	cursor: pointer;
	opacity: 0;
	transition: all 0.1s;
	-o-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

a.small-brand.navbar-brand.active label {
	opacity: 1;
}

.small-brand.navbar-brand:hover {
	color: #41B8EA;
}

a.small-brand.navbar-brand span {
	color: #F16432;
}

a.small-brand.navbar-brand img {
	display: inline-block;
	height: 40px;
	padding-bottom: 7px;
	margin-top: 9px;
	opacity: 1;
	
	transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.navbar.full-size a.small-brand.navbar-brand img {
	height: 120px;
	padding-top: 6px;
	padding-bottom: 29px;
	opacity: 0;
}

a.big-brand.active {
	height: 50px;
	opacity: 0;
	transition: all 0.1s;
	-o-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

a.big-brand {
	height: auto;
}

.navbar.full-size a.big-brand {
	opacity: 1;
}

.navbar.main-nav ul.navbar-nav li a {
	color: #FFF;
	padding-left: 0;
	padding-right: 0;
	margin-left: 33px;
	
	transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-moz-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
}

.navbar.full-size ul.navbar-nav li a {
	padding-top: 30px;
	padding-bottom: 70px;
}

.main-nav.navbar .nav > li.active > a, .main-nav.navbar .nav > li.active > a:hover {
	color: #f16432;
	background-color: #242535;
	box-shadow: none; 
}

.nav.bs-docs-sidenav {
	background-color: #74c7a2;
}

.nav.bs-docs-sidenav li a {
	border: none;
	color: #FFF;
	text-shadow: none;
}

.nav.bs-docs-sidenav li a:hover {
	background-color: #74c7a2;
}

.nav.bs-docs-sidenav li.active a, .nav.bs-docs-sidenav li.active a:hover, .nav.bs-docs-sidenav li.active a:hover fa {
	background-color: #0088CC;
}

.slide-image {
	background-size: cover;
	background-position: center;
}
/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .span4 {
    text-align: center;
}
.marketing h2 {
    /* font-weight: normal; */
	color: #5f5f66;
}
.marketing .span4 p {
    margin-left: 10px;
    margin-right: 10px;
}
.timestamp {
	color:#C0C0C4;
	font-weight:normal;
	margin:0 0 10px 0;
}
/* Featurettes
------------------------- */
.featurette-divider {
    /* margin: 80px 0; */ /* Space out the Bootstrap <hr> more */
}
.featurette {

    overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
    /* margin-top: -120px; */ /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
	/* margin-bottom: 10px; */
	width: 95%;
}
/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
    /* margin-right: 40px; */
}
.featurette-image.pull-right {
    /* margin-left: 40px; */
}
/* Thin out the marketing headings */
.featurette-heading {
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: -1px;
	margin-bottom: 15px;
}
.featurette-content {
	font-size: 16px;
    line-height: 30px;
	color: #393942;
}
.article-image-preview {
	display: inline-block;
	width: 240px;
	height: 160px;
	background-repeat: no-repeat;
	background-size: cover;
}
.title {
	margin: 0;
	color: #000;
	line-height: 1;
	font-weight: normal;
}
.title.title-thin {
	font-weight:normal;
}
.title .muted {
	margin-left: 5px;
	font-size: 24px;
}
.content {
	width: 720px;
	margin-left: 40px;
}
.content hr {
	margin: 0 0 5px 0;
}
.side-link {
	margin-bottom: 40px;
}

.side-link .muted {
	font-weight: bolder;
	color: #777;
	font-size: 18px;
	padding: 10px 0 12px 5px;
	display:inline-block;
}
.side-link small.muted {
	font-size: 13px;
	line-height: 14px;
	padding: 8px 0 5px 5px;
}
.specials-icon {
	width:75px;
	height:40px;
	line-height:40px;
	display:inline-block;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
	border: 1px solid rgb(179, 179, 179);
}
.imna {
	background-image:url(../images/IMNAicon2-small.jpg);
}
.ico {
	background-image:url(../images/ICO2-small.png);
}
.b310 {
	background-image:url(../images/B310icon-small.png);
}

.dsv {
	background-image:url(../images/stockholm.png);
}

.ipi {
	background-image:url(../images/ipi.png);
}

.navigation {
	font-size: 16px;
}
.loading {
	width: 100%;
	height: 50px;
	display: block;
	background-image: url(/images/ajax-loader.gif);
	background-position: center;
	background-repeat: no-repeat;
}
.nav-list > li > a {
	padding: 2px;
}
.navigation {
	font-size: 16px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
	padding: 0;
}

.timespam{
    font-size: 16px;
    margin-left: 10px;
}
.page-header h3 {
	margin: 0;
}
.overview {
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(0, 0, 0, 0.075);
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 100%;
    cursor: default;
}

.overview span {
    font-size: 30px;
    color: #EEEEEE;
    margin-left: 10px;
}

.overview h1 {
    font-size: 50px;
    padding-top: 20px;
}

.overview p {
    font-size: 24px;
}

.overview-news {
	background-image: url(/images/overview-news.png);
}

.overview-collect {
	background-image: url(/images/overview-collect.png);
}

.overview-teacher {
	background-image: url(/images/overview-teacher.png);
}

.overview-institute {
	background-image: url(/images/overview-institute.png);
	background-position: 0 -100px;
}

.overview-advance {
	background-image: url(/images/overview-advance.png);
	background-position: 0 -60px;
}

.overview-file {
	background-image: url(/images/overview-file.png);
	background-position: 0 -40px;
}

.avatar-small {
	width:25px;
	height:25px;
	background-size:cover;
	margin:2.5px 7px;
}

.attach {
	color: #999;
}

.attach label {
	cursor: pointer;
}

.attach:hover {
	color: #000;
}

.attach i{
	opacity: 0.25;
}

.attach:hover i{
	opacity: 1;
}

.attach:hover {
    text-decoration: none;
}

.attach img {
    margin: 5px 0;
}

.slide-thumbnail {
	width: 600px;
	height: 140px;
	background-size: 600px auto;
	background-repeat: no-repeat;
	background-position: center;
	display:inline-block;
}

.bs-docs-sidenav {
    margin: 18px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.bs-docs-sidenav > li > a {
    display: block;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 3px 3px;
       -moz-border-radius: 0 0 3px 3px;
            border-radius: 0 0 3px 3px;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
       -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
            box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .fa-chevron-right {
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}
.bs-docs-sidenav li:not(.active) a:hover .fa-chevron-right {
    opacity: .5;
}
.bs-docs-sidenav .active .fa-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 70px;
}

.introduce.bs-docs-sidenav {
    margin-top: 40px;
}

.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-admin-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-admin-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-admin-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-admin-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-admin-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-admin-sidenav.affix {
  top: 40px;
}
.bs-admin-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.search {
    width: 160px;
}

#token {
	display: none;
}

#target {
	display: none;
}


.attach-title {
	margin-bottom: 20px;
}

/* custom checkbox from http://csscheckbox.com/ */
input[type=checkbox].css-checkbox {
    display:none;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:20px; 
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -20px;
}

.bs-docs-sidenav .active {
	
}

.css-label{ background-image:url(/images/web-two-style.png); }
/* http://csscheckbox.com/ */

.en_US-nav .nav > li > a {
	margin-left: 30px;
}

.link-disabled {
	color: #999;
}

.link-disabled:focus, .link-disabled:hover {
	color: #999;
	text-decoration: none;
	cursor: not-allowed;
}

.article {
	position: relative;
	display: block;
	width: 100%;
	border-bottom: 1px solid #EEE;
	margin-bottom: 10px;
}

.article h4 small {
	margin-top: 5px;
}

.article .article-body {
	width: 90%;
}

.article .article-view-btn {
	text-align: center;
	color: #EEE;
	width: 10%;
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 19px;
	margin-top: -20px;
	padding-bottom: 19px;
}

@media (max-width: 767px) {
	
	.article .article-view-btn {
		margin-top: -20px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	
	.article .article-view-btn {
		margin-top: -20px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.article .article-view-btn {
		margin-top: -20px;
	}
}

@media (min-width: 1200px) {
	.article:hover .article-view-btn {
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(252,252,252,0.65) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(252,252,252,0.65))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(252,252,252,0.65) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(252,252,252,0.65) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(252,252,252,0.65) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(252,252,252,0.65) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a6fcfcfc',GradientType=1 ); /* IE6-9 */
	}
}

.article:hover .article-view-btn {
	color: #CCC;
}

.article h4 {
	color: #333;
}

.article a:hover {
	text-decoration: none;
}

.articles-header {
	margin-bottom: 10px;
}

.articles-header .btn-group {
	margin-top: -8px;
}

.search-form {
	margin: 32px 0 24px;
}

.margin-top-0 {
	margin-top: 0;
}

.teacher:not(:first-child) {
	margin-top: 30px;
}

.teacher .faculty-image-preview {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 5px;
}

.profile-img {
	margin-top: 20px;
	border-radius: 5px;
}

body .modal {
	width: 80%;
	margin-left: -40%;
}

body #modal-delete {
	width: 400px;
	margin-left: -200px;
}

@media (max-width: 767px) {
	
	.navbar.full-size ul.navbar-nav li a {
	    padding-bottom: 10px;
	    padding-top: 10px;
	}

	a.small-brand.navbar-brand img {
		opacity: 1;
	}
	
	.navbar.full-size a.small-brand.navbar-brand img {
		height: 40px;
		padding-top: 0px;
		padding-bottom: 7px;
		opacity: 1;
	}
	
	a.small-brand.navbar-brand label {
		opacity: 1;
	}
	
	body.font {
		padding-top: 70px;
	}
	
	.page-header {
		margin-top: 20px;
	}
	
	.teacher .faculty-image-preview {
		width: 150px;
		height: 150px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar.full-size ul.navbar-nav li a {
	    padding-bottom: 10px;
	    padding-top: 10px;
	}

	a.small-brand.navbar-brand {
		position: relative;
	}
	
	a.small-brand.navbar-brand img {
		opacity: 1;
	}
	
	.navbar.full-size a.small-brand.navbar-brand img {
		height: 40px;
		padding-top: 0px;
		padding-bottom: 7px;
		opacity: 1;
	}
	
	a.small-brand.navbar-brand label {
		opacity: 1;
	}
	
	body.font {
		padding-top: 70px;
	}
	
	.page-header {
		margin-top: 20px;
	}
	
	.teacher .faculty-image-preview {
		width: 150px;
		height: 150px;
	}
	.navbar ul.navbar-nav li a {
		margin-left: 15px;
	}
	
	.navbar.full-size ul.navbar-nav li a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar ul.nav.navbar-nav li a {
		margin-left: 15px;
	}
}

@media (min-width: 1200px) {
	
}